.App {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.8;
}

.App p {
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}

.main {
  display: flex;
  margin-left: 50px;
  margin-top: 40px;
}

.Toolbar {
  border-bottom: 2px solid #000000;
}

.page h1 {
  margin-bottom: 50px;
}

